#main-header{
	height: 150px; 
	/*Anterior #ee6e73*/
	background-color: #29BDBE;
}

#header-title{
	color: black; 
	font-family: "Roboto";
	padding-bottom: 1cm; 
	padding-top: 1cm;
}

#escudo-armas{
	width:70px;
	height:130px;
	padding-top: 0.3cm;
}